In [22]:
import pandas as pd
import os
import folium

In [2]:
filename = 'properties_2017.csv'
full = pd.read_csv(filename)

In [3]:
full.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

In [4]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 59 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id                            int64
 1   parcelid                      int64
 2   airconditioningtypeid         float64
 3   architecturalstyletypeid      float64
 4   basementsqft                  float64
 5   bathroomcnt                   float64
 6   bedroomcnt                    float64
 7   buildingclasstypeid           float64
 8   buildingqualitytypeid         float64
 9   calculatedbathnbr             float64
 10  decktypeid                    float64
 11  finishedfloor1squarefeet      float64
 12  calculatedfinishedsquarefeet  float64
 13  finishedsquarefeet12          float64
 14  finishedsquarefeet13          float64
 15  finishedsquarefeet15          float64
 16  finishedsquarefeet50          float64
 17  finishedsquarefeet6           float64
 18  fips                          float64
 19  fireplacecnt                  float64
 20  fullbathcnt                   float64
 21  garagecarcnt                  float64
 22  garagetotalsqft               float64
 23  hashottuborspa                float64
 24  heatingorsystemtypeid         float64
 25  latitude                      float64
 26  longitude                     float64
 27  lotsizesquarefeet             float64
 28  poolcnt                       float64
 29  poolsizesum                   float64
 30  pooltypeid10                  float64
 31  pooltypeid2                   float64
 32  pooltypeid7                   float64
 33  propertycountylandusecode     object
 34  propertylandusetypeid         float64
 35  propertyzoningdesc            object
 36  rawcensustractandblock        float64
 37  regionidcity                  float64
 38  regionidcounty                float64
 39  regionidneighborhood          float64
 40  regionidzip                   float64
 41  roomcnt                       float64
 42  storytypeid                   float64
 43  threequarterbathnbr           float64
 44  typeconstructiontypeid        float64
 45  unitcnt                       float64
 46  yardbuildingsqft17            float64
 47  yardbuildingsqft26            float64
 48  yearbuilt                     float64
 49  numberofstories               float64
 50  fireplaceflag                 float64
 51  structuretaxvaluedollarcnt    float64
 52  taxvaluedollarcnt             float64
 53  assessmentyear                float64
 54  landtaxvaluedollarcnt         float64
 55  taxamount                     float64
 56  taxdelinquencyflag            object
 57  taxdelinquencyyear            float64
 58  censustractandblock           float64
dtypes: float64(54), int64(2), object(3)
memory usage: 1.3+ GB

In [6]:
full.shape

(2985217, 59)

was tryign to see the mean of the prce compared to differnt catagories. Since this is whole dataset can't dig in like that yet. Also below just gives me mean of each catagory. useless code

In [13]:
"""means = {}
for i in full:
    if pd.api.types.is_numeric_dtype(full[i]):
        means[i] = full[i].mean()
    else:
        means[i] = 'Not a numeric column'"""

In [18]:
# df = pd.DataFrame(means, index=[1])
# df.T

In [24]:
full.isna().sum()

id                                    0
parcelid                              0
airconditioningtypeid           2169855
architecturalstyletypeid        2979156
basementsqft                    2983590
bathroomcnt                        2957
bedroomcnt                         2945
buildingclasstypeid             2972486
buildingqualitytypeid           1043822
calculatedbathnbr                117156
decktypeid                      2967838
finishedfloor1squarefeet        2781459
calculatedfinishedsquarefeet      45097
finishedsquarefeet12             264431
finishedsquarefeet13            2977546
finishedsquarefeet15            2795032
finishedsquarefeet50            2781459
finishedsquarefeet6             2963735
fips                               2932
fireplacecnt                    2672093
fullbathcnt                      117156
garagecarcnt                    2094209
garagetotalsqft                 2094209
hashottuborspa                  2935155
heatingorsystemtypeid           1116053
latitude                           2932
longitude                          2932
lotsizesquarefeet                272706
poolcnt                         2445585
poolsizesum                     2957259
pooltypeid10                    2968211
pooltypeid2                     2952161
pooltypeid7                     2479322
propertycountylandusecode          2999
propertylandusetypeid              2932
propertyzoningdesc              1002746
rawcensustractandblock             2932
regionidcity                      62128
regionidcounty                     2932
regionidneighborhood            1828476
regionidzip                       12714
roomcnt                            2969
storytypeid                     2983594
threequarterbathnbr             2668860
typeconstructiontypeid          2978471
unitcnt                         1004175
yardbuildingsqft17              2903629
yardbuildingsqft26              2982571
yearbuilt                         47833
numberofstories                 2299541
fireplaceflag                   2980054
structuretaxvaluedollarcnt        46464
taxvaluedollarcnt                 34266
assessmentyear                     2933
landtaxvaluedollarcnt             59926
taxamount                         22752
taxdelinquencyflag              2928702
taxdelinquencyyear              2928700
censustractandblock               74985
dtype: int64

In [26]:
full

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2985212,2985212,12170430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,2985213,11422430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,2985214,17203030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,2985215,14242830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,2985216,12766630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
promising but just cant get it. Shorter to just run both tests

In [ ]:
        '''
def ttest_viz_alt(X_train, y_train, cat):
    '''
    run and plots ttest for categorical features against a continuous target
    '''
    for i in cat:
        print(f'$H_0$ {i} has no effect on value')
        print(f'$H_a$ {i} has an effect on value')
        group1 = df[df[i] == unique_categories[0]][target_col]
        group2 = df[df[i] == unique_categories[1]][target_col]

        t_stat, p_value = ttest_ind(group1, group2)

        if p_value < 0.05:
            print(f'Reject the null hypothesis: {i} has an effect on {target_col}. (p-value: {p_value:.4e})")
        else:
            print(f"Fail to reject the null hypothesis: No significant evidence to suggest that {feature_col} affects {target_col}. (p-value: {p_value:.4e})")
'''