In [1]:
import wrangle
import plotly.express as px
import pandas as pd
import matplotlib.pyplot as plt
import all_maps

In [2]:
df = all_maps.get_zillow_map()

In [3]:
df.head()

   propertylandusetypeid    latitude    longitude  taxvaluedollarcnt
0                  261.0  33634931.0 -117869207.0          1023282.0
1                  261.0  34449266.0 -119281531.0           464000.0
2                  261.0  33886168.0 -117823170.0           564778.0
3                  261.0  34245180.0 -118240722.0           145143.0
4                  266.0  34185120.0 -118414640.0           119407.0

In [4]:
df.propertylandusetypeid.value_counts()

propertylandusetypeid
261.0    52320
266.0    19294
246.0     2009
269.0     1944
248.0      727
247.0      535
265.0      333
263.0       74
275.0       58
260.0       37
267.0       29
31.0        15
264.0        6
Name: count, dtype: int64

In [5]:
df.isna().sum()

propertylandusetypeid    33
latitude                 33
longitude                33
taxvaluedollarcnt        34
dtype: int64

In [6]:
# droppig nulls
#df = df.dropna()

In [7]:
# plotly function
"""df['latitude'] = df['latitude'] / 1e6
df['longitude'] = df['longitude'] / 1e6

# Plotting
fig = px.scatter_geo(
    df, 
    lat='latitude', 
    lon='longitude',
    color='taxvaluedollarcnt', 
    projection="natural earth",
    title="Property Locations and Values",
    color_continuous_scale=px.colors.sequential.Plasma
)
fig.update_geos(showcoastlines=True, coastlinecolor="Black", showland=True, landcolor="grey")
fig.update_layout(coloraxis_colorbar=dict(title="Property Value"))
fig.show()"""

'df[\'latitude\'] = df[\'latitude\'] / 1e6\ndf[\'longitude\'] = df[\'longitude\'] / 1e6\n\n# Plotting\nfig = px.scatter_geo(\n    df, \n    lat=\'latitude\', \n    lon=\'longitude\',\n    color=\'taxvaluedollarcnt\', \n    projection="natural earth",\n    title="Property Locations and Values",\n    color_continuous_scale=px.colors.sequential.Plasma\n)\nfig.update_geos(showcoastlines=True, coastlinecolor="Black", showland=True, landcolor="grey")\nfig.update_layout(coloraxis_colorbar=dict(title="Property Value"))\nfig.show()'

In [8]:
all_maps.fix_map(df)
df.head()

    type        lat        long      value
0  261.0  33.634931 -117.869207  1023282.0
1  261.0  34.449266 -119.281531   464000.0
2  261.0  33.886168 -117.823170   564778.0
3  261.0  34.245180 -118.240722   145143.0
4  266.0  34.185120 -118.414640   119407.0