In [1]:
import wrangle
import evaluate as ev
import model
import viz
import module_test

In [2]:
# import and clean zillow data
df = wrangle.get_zillow_mvp()
wrangle.drop_zill_mvp(df)
# split data 
train,val,test = wrangle.train_val_test(df)
X_train, y_train, X_val, y_val = wrangle.X_y_split(train,val,'value')

In [3]:
# Scaled Data
X_train, x_val = model.scale_train_val(X_train,X_val)

In [4]:
ev.linear_regression_model(X_train, y_train, X_val, y_val)

,sse,ess,tss,mse,rmse,r2,dataset
0,1.301640e+16,8.435767e+15,2.145217e+16,3.559701e+11,596632.329336,0.393236,train
0,2.610792e+15,1.719259e+15,4.330052e+15,3.331792e+11,577216.760407,0.365556,val

In [5]:
ev.lasso_lars_model(X_train, y_train, X_val, y_val)

,sse,ess,tss,mse,rmse,r2,dataset
0,1.301640e+16,8.434797e+15,2.145120e+16,3.559701e+11,596632.331531,0.393236,train
0,2.610779e+15,1.719069e+15,4.329848e+15,3.331775e+11,577215.336766,0.365559,val

In [6]:
ev.polynomial_regression_model(X_train, y_train, X_val, y_val)

,sse,ess,tss,mse,rmse,r2,dataset
0,1.158675e+16,9.865425e+15,2.145217e+16,3.168721e+11,562913.959425,0.459880,train
0,2.382229e+15,1.773141e+15,4.155370e+15,3.040108e+11,551371.779807,0.421084,val

In [7]:
ev.tweedie_regressor_model(X_train, y_train, X_val, y_val)

,sse,ess,tss,mse,rmse,r2,dataset
0,1.479210e+16,1.527166e+16,3.006375e+16,4.045314e+11,636027.849391,0.310462,train
0,2.533343e+15,1.583622e+15,4.116965e+15,3.232954e+11,568590.723280,0.384360,val

In [8]:
ev.random_forest_regressor_model(X_train, y_train, X_val, y_val)

,sse,ess,tss,mse,rmse,r2,dataset
0,3.807920e+15,1.432038e+16,1.812830e+16,1.041383e+11,322704.610648,0.822493,train
0,2.890259e+15,2.581609e+15,5.471868e+15,3.688436e+11,607324.984500,0.297671,val

In [9]:
ev.xgboost_regressor_model(X_train, y_train, X_val, y_val)

,sse,ess,tss,mse,rmse,r2,dataset
0,5.790312e+15,1.375093e+16,1.954124e+16,1.583524e+11,397935.122638,0.730083,train
0,2.741150e+15,2.488070e+15,5.229220e+15,3.498150e+11,591451.575451,0.333888,val

In [10]:
# base_train , base_val = ev.mean_or_median_baseline(y_train,y_val)

In [11]:
# r2_score = f_r2(baseline_train['actual'], baseline_train['yhat'])

In [12]:
X_test, y_test = module_test.test_split(test, 'value')

In [13]:
poly_model = model.polynomial_regression_model(X_train, y_train, X_val, y_val)

In [17]:
X_train.shape, y_train.shape, X_val.shape,y_val.shape

((36566, 3), (36566,), (7836, 3), (7836,))

In [14]:
ev.evaluate_model(poly_model,X_test, y_test )

/usr/local/anaconda3/lib/python3.10/site-packages/sklearn/base.py:457: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

ValueError: X has 3 features, but LinearRegression is expecting 10 features as input.